@model List<BengkelMotorApp.ViewModel.ReportViewModel>
<html>
<head>
    <title>Export PDF</title>
<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }
</style>
</head>
<body>
    <h1>Report</h1>
    <table>
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>No</th>
                <th>Date</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerAddress</td>
                    <td>@item.TransactionNumber</td>
                    <td>@String.Format("{0:dd-MM-yyyy}",item.TransactionDate)</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>