@model List<BengkelMotorApp.ViewModel.ReportViewModel>
@{
    ViewData["Title"] = "Reports";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reports</h3>
                    <a href="@Url.Action("ExportExcel", "Report")"><button class="btn btn-primary btn-sm">Export Excel</button></a>
                    <a href="@Url.Action("ExportPdf", "Report")"><button class="btn btn-success btn-sm">Export PDF</button></a>
                </div>
                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer Address</th>
                                <th>No</th>
                                <th>Date</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CustomerName</td>
                                    <td>@item.CustomerAddress</td>
                                    <td>@item.TransactionNumber</td>
                                    <td>@String.Format("{0:dd-MM-yyyy}",item.TransactionDate)</td>
                                    <td>@item.TotalPrice</td>
                                    <td>
                                        <a href="@Url.Action("Detail","Report",new { id = item.Id })"><button class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Detail</button></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>